# Dependencies
node_modules
.pnpm-store

# Next.js / TypeScript build output
.next
out
*.tsbuildinfo

# Production
build
dist

# Environment variables
.env
.env.*
!.env.example

# State & Logs on home server
.state
logs
.data

# Database
prisma/*.db
prisma/*.db-journal

# OS & Editor
.DS_Store
*.pem
.vscode
.idea
